body {
    background-color: #D9D9D9;
    overflow: hidden;
    background-image: url("../images/forest.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}    
ul {
    list-style-type: none;
    padding: 3px;
    background-color: #98DC6E;
    width: 103%;
    margin-left: -2%;
  }
  
  li {
    display: inline-block;
  }
  
  li a {
    display: flex;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: auto;
    justify-content: center;
  }
  
  li a:hover {
    background-color: beige;
  }

    .active {
        width: 100%;
        margin-right: 50%;
    }
    .header {
        color: white;
        padding: 15px;
        text-align: center;
        margin: auto;
        width: 103%;
        margin-left: -2%;
    }
    .container {
        width: 600px;
        background: #427232;
        border: 1px #2633AA solid;
        backdrop-filter: blur(4px);
        margin: auto;
        margin-top: inherit;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: auto;
        align-content: start;
    }
    /*.container:after {
        display: block;
        content: " placeholder ";
        margin: 100px;
        flex: 999 999 auto;
      }*/