{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forest Live Monitoring</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css">  
    <script src="{% static 'js/index.js' %}" type="text/javascript"></script>
</head>
<body>
    <div class="header">
    <ul>
        <li><a class="active" href="#forest">Forest monitoring</a></li>
    </ul>
    </div>
    <div class="container">
        <div class="device-container1">
        <h3 class="device-1">Device name: <span id="device1"></span></h3>
        <p class="humidity-1">Humidity: {{ latest_reading.Humidity }}</p>
        <p class="temperature-1">Temperature: {{ latest_reading.Temperature }}</p>
        <p class="location-1">Location: <span id="location1"></span></p>
        </div>
        
        <div class="device-container2">
        <h3 class="device-2">Device name: <span id="device2"></span></h3>
        <p class="humidity-2">Humidity: <span id="humidity2"></span></p>
        <p class="temperature-2">Temperature: <span id="temperature2"></span></p>
        <p class="location-2">Location: <span id="location2"></span></p>
        </div>

        <div class="device-container3">
        <h3 class="device-3">Device name: <span id="device3"></span></h3>
        <p class="humidity-3">Humidity: <span id="humidity3"></span></p>
        <p class="temperature-3">Temperature: <span id="temperature3"></span></p>
        <p class="location-3">Location: <span id="location3"></span></p>
        </div>

        <div class="device-container4">
        <h3 class="device-4">Device name: <span id="device4"></span></h3>
        <p class="humidity-4">Humidity: <span id="humidity4"></span></p>
        <p class="temperature-4">Temperature: <span id="temperature4"></span></p>
        <p class="location-4">Location: <span id="location4"></span></p>
        </div>    
    </div>
    
</body>
</html>