{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forest Live Monitoring</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css"> 
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- jQuery CDN -->  
    <script src="{% static 'js/index.js' %}" type="text/javascript"></script>
</head>
<body>
    <div class="header" style="width: 102%;  margin-left: -2%; margin-top: -2.3%;">
    <ul>
        <li><a class="active" href="{% url 'home' %}">Forest monitoring</a></li>
        <li><a href="{% url 'graphs' %}">Graphs</a></li>
    </ul>
    </div>
    <div class="container"  style="display: flex; flex-wrap: wrap; justify-content: center; align-items: auto;
    align-content: start; height: 100%;">
    {% for sensor, latest_reading in sensors_with_latest_readings %}
        <div class="device-container{{ forloop.counter }}" style="flex: 0 0 auto; margin: 15px; background-color: #9ED7A7; padding: 10px;">
            <h3 class="device-{{ forloop.counter }}">Device name: <span id="device{{ forloop.counter }}">{{ sensor.Node_id }}</span></h3>
            <p class="humidity-{{ forloop.counter }}">Humidity: <span id="humidity{{ forloop.counter }}">{{ latest_reading.Humidity }}</span></p>
            <p class="temperature-{{ forloop.counter }}">Temperature: <span id="temperature{{ forloop.counter }}">{{ latest_reading.Temperature }}</span></p>
            <p class="location-{{ forloop.counter }}">Location: <span id="location{{ forloop.counter }}">{{ sensor.Latitude }}, {{ sensor.Longitude }}</span></p>
        </div>
    {% endfor %}
    </div>
    
</body>
</html>